# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.swp

# Jupyter Notebook
.ipynb_checkpoints

*.pyc
*.dot
*.pdf

data/accounts.*.json.gz
data/accounts.*.csv
data/accounts.h5
data/random.hdf5
data/weather-big
data/myfile.hdf5
profile.html
log
